
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #6B6F92;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

a:hover {
  color: #F5B458;
}

button,
a {
  transition: all 0.3s ease-out 0s;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0px;
  color: #313450;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 45px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0px;
}

.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.error {
  color: orangered;
}

.success {
  color: #fff;
}

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 18px 35px;
  font-size: 16px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all .4s ease-in-out;
  border: none;
  background: #F5B458;
  overflow: hidden;
}

.main-btn:hover {
  color: #fff;
}

.border-btn {
  border: 2px solid #F5B458;
  color: #F5B458;
  background: transparent;
}

.border-btn:hover {
  color: #F5B458;
}

.border-btn.btn-hover::after {
  background: rgba(245, 180, 88, 0.25);
}

.btn-hover {
  position: relative;
  overflow: hidden;
}

.btn-hover::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  top: 50%;
  left: 50%;
  padding: 50%;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
  transform: translate3d(-50%, -50%, 0) scale(0);
}

.btn-hover:hover::after {
  transform: translate3d(-50%, -50%, 0) scale(1.3);
}

.scroll-top {
  width: 45px;
  height: 45px;
  background: #F5B458;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
}

.scroll-top:hover {
  color: #fff;
  background: rgba(245, 180, 88, 0.8);
}

@keyframes animation1 {
  0% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(30px);
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 99999;
}

.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}

.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  animation: ytp-spinner-linspin 1568.2353ms linear infinite;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}

.preloader .loader .ytp-spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  border-color: #F5B458 #F5B458 #ddd;
  border-radius: 50%;
  border-width: 6px;
}

.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #ddd;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #ddd;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */

@keyframes ytp-spinner-linspin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ytp-spinner-easespin {
  12.5% {
    transform: rotate(135deg);
  }
  25% {
    transform: rotate(270deg);
  }
  37.5% {
    transform: rotate(405deg);
  }
  50% {
    transform: rotate(540deg);
  }
  62.5% {
    transform: rotate(675deg);
  }
  75% {
    transform: rotate(810deg);
  }
  87.5% {
    transform: rotate(945deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

@keyframes ytp-spinner-left-spin {
  0% {
    transform: rotate(130deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(130deg);
  }
}

@keyframes ytp-right-spin {
  0% {
    transform: rotate(-130deg);
  }
  50% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-130deg);
  }
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

/*===========================
    02.HEADER css
===========================*/
/*===== NAVBAR =====*/
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.44);
}

.sticky {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sticky .navbar {
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  .sticky .navbar {
    padding: 10px 0;
  }
}

.sticky .navbar .navbar-nav .nav-item a {
  color: #313450;
}

.sticky .navbar .navbar-nav .nav-item a:hover {
  color: #F5B458;
}

.sticky .navbar .navbar-toggler .toggler-icon {
  background: #313450;
}

.navbar {
  padding: 0;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    padding: 17px 0;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 17px 0;
  }
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  max-width: 180px;
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #313450;
  display: block;
  margin: 5px 0;
  position: relative;
  transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  transform: rotate(45deg);
  top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0px 15px 20px 0px rgba(49, 52, 80, 0.1);
    padding: 5px 12px;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 40px;
}

.navbar-nav .nav-item a {
  font-size: 16px;
  font-weight: 500;
  color: #313450;
  transition: all 0.3s ease-out 0s;
  padding: 25px 0;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a {
    display: inline-block;
    padding: 6px 0px;
    color: #6B6F92;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a {
    display: inline-block;
    padding: 6px 0px;
    color: #6B6F92;
  }
}

.navbar-nav .nav-item a::before {
  content: '';
  width: 0;
  height: 5px;
  background: #F5B458;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 0.3s ease-out 0s;
  z-index: -1;
}

.navbar-nav .nav-item a:hover, .navbar-nav .nav-item a.active {
  color: #F5B458;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a:hover, .navbar-nav .nav-item a.active {
    color: #F5B458;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a:hover, .navbar-nav .nav-item a.active {
    color: #F5B458;
  }
}

.navbar-nav .nav-item a:hover::before, .navbar-nav .nav-item a.active::before {
  width: 100%;
}

.navbar-nav .nav-item:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

.navbar-nav .nav-item .sub-menu {
  width: 200px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}

.navbar-nav .nav-item .sub-menu li {
  display: block;
}

.navbar-nav .nav-item .sub-menu li a {
  display: block;
  padding: 8px 20px;
  color: #222;
}

.navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
  padding-left: 25px;
  color: #F5B458;
}

.navbar-nav .sub-nav-toggler {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

.navbar-nav .sub-nav-toggler span {
  width: 8px;
  height: 8px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}

.hero-section {
  position: relative;
  z-index: 11;
  //background-image: url("../img/hero/hero-shapes.png");
}

.hero-section .hero-content {
  padding-top: 380px;
  padding-bottom: 280px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-content {
    padding-top: 250px;
    padding-bottom: 160px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-content {
    padding-top: 220px;
    padding-bottom: 130px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-content {
    padding-top: 220px;
    padding-bottom: 130px;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-content {
    padding-top: 180px;
    padding-bottom: 100px;
  }
}

.hero-section .hero-content h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 35px;
}

.hero-section .hero-content h1 span {
  color: #F5B458;
  display: inline;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-content h1 {
    font-size: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-content h1 {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-content h1 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .hero-section .hero-content h1 {
    font-size: 45px;
  }
}

.hero-section .hero-content p {
  margin-bottom: 35px;
}

.hero-section .hero-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  z-index: -1;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-img {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-img {
    width: 53%;
    top: -20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-img {
    display: none;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-img {
    display: none;
  }
}

.hero-section .hero-img img {
  width: 100%;
}

.hero-section .counter-up {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero-section .counter-up .single-counter {
  display: flex;
  align-items: center;
  padding: 8px 38px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section .counter-up .single-counter {
    padding: 8px 30px;
  }
}

@media (max-width: 767px) {
  .hero-section .counter-up .single-counter {
    padding: 8px 40px 8px 0;
  }
}

.hero-section .counter-up .single-counter::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 45px;
  top: 32px;
  background: #6B6F92;
  right: 0;
}

@media (max-width: 767px) {
  .hero-section .counter-up .single-counter::after {
    display: none;
  }
}

.hero-section .counter-up .single-counter:first-child {
  padding-left: 0;
}

.hero-section .counter-up .single-counter .icon {
  font-size: 60px;
  color: #313450;
  margin-right: 20px;
}

.hero-section .counter-up .single-counter .content h2 {
  font-size: 35px;
  font-weight: 700;
}

.hero-section .counter-up .single-counter .content h5 {
  color: #6B6F92;
  font-weight: 500;
}

.service-section .service-content {
  margin-right: 70px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .service-section .service-content {
    margin-bottom: 50px;
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .service-section .service-content {
    margin-bottom: 50px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .service-section .service-content {
    margin-bottom: 50px;
    margin-right: 0;
  }
}

.service-section .single-service {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 30px;
  padding: 45px 30px;
  border-radius: 10px;
  background: #fff;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .service-section .single-service {
    padding: 30px 20px;
  }
}

.service-section .single-service:hover {
  box-shadow: 0px 0px 54px #f2f4f9;
}

.service-section .single-service .icon {
  margin-bottom: 30px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-section .single-service .icon.color-1 {
  background: #E74C3C;
}

.service-section .single-service .icon.color-2 {
  background: #F5B458;
}

.service-section .single-service .icon.color-3 {
  background: #3C6DDE;
}

.service-section .single-service .icon.color-4 {
  background: #0DA755;
}

.service-section .single-service .content h4 {
  margin-bottom: 25px;
  text-align: center;
}

.service-section .single-service .content p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  text-align: center;
}

.service-section .single-service .content a {
  color: #6B6F92;
}

.service-section .single-service .content a:hover {
  color: #F5B458;
}

.service-section .single-service .content a i {
  font-size: 10px;
}

.about-section {
  background: #FCF8E8;
  //background-image: url("../img/about/about-bg.jpg");
}

.about-section .about-img {
  margin-bottom: 50px;
}

.about-section .about-img img {
  width: 100%;
}

.about-section .about-content {
  margin-bottom: 50px;
}

.process-section .process-img {
  margin-left: auto;
  margin-right: auto;
}

.process-section .process-img img {
  max-width: 100%;
}



.testimonial-section {
  //background-image: url("../img/testimonial/testimonial-bg.jpg");
}


.pricing-section .single-pricing {
  border-radius: 10px;
  background: #fff;
  margin-bottom: 30px;
  padding: 45px 0px;
  text-align: center;
  box-shadow: 0px 0px 64px rgba(181, 181, 181, 0.16);
}

.pricing-section .single-pricing .header {
  padding: 0 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(107, 111, 146, 0.1);
}

.pricing-section .single-pricing .package-name {
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 500;
}

.pricing-section .single-pricing span.price {
  font-size: 50px;
  font-weight: 600;
  color: #F5B458;
  margin-bottom: 15px;
}

.pricing-section .single-pricing span.price small {
  font-size: 22px;
}

.pricing-section .single-pricing ul {
  margin-bottom: 35px;
  padding: 0 30px;
}

.pricing-section .single-pricing ul li {
  line-height: 34px;
}

.pricing-section .single-pricing a.main-btn {
  padding: 12px 30px;
  margin-bottom: 20px;
}

.pricing-section .single-pricing a.link {
  font-style: italic;
  font-weight: 500;
  text-decoration: underline;
  display: block;
  color: #F5B458;
}

.pricing-section .single-pricing.color-1 .price {
  color: #E74C3C;
}

.pricing-section .single-pricing.color-1 a.main-btn {
  border-color: #E74C3C;
  color: #E74C3C;
}

.pricing-section .single-pricing.color-1 a.main-btn::after {
  background: rgba(231, 76, 60, 0.2);
}

.pricing-section .single-pricing.color-1 a.link {
  color: #E74C3C;
}

.pricing-section .single-pricing.color-3 .price {
  color: #3C6DDE;
}

.pricing-section .single-pricing.color-3 a.main-btn {
  border-color: #3C6DDE;
  color: #3C6DDE;
}

.pricing-section .single-pricing.color-3 a.main-btn::after {
  background: rgba(60, 109, 222, 0.2);
}

.pricing-section .single-pricing.color-3 a.link {
  color: #3C6DDE;
}


.cta-section {
  //background-image: url("../img/cta/cta-bg.jpg");
}

.cta-section .cta-content {
  padding-bottom: 30px;
}

.cta-section .cta-content h1 span {
  color: #F5B458;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cta-section .cta-content h1 {
    font-size: 40px;
  }
}

.cta-section .cta-form-wrapper {
  padding-bottom: 30px;
}

.cta-section .cta-form-wrapper form {
  position: relative;
}

.cta-section .cta-form-wrapper form input {
  width: 100%;
  padding: 16px 35px;
  border-radius: 350px;
  border: 1px solid #F5B458;
  background: transparent;
  padding-right: 160px;
}

@media (max-width: 767px) {
  .cta-section .cta-form-wrapper form input {
    padding-right: 35px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .cta-section .cta-form-wrapper form input {
    padding-right: 160px;
  }
}

.cta-section .cta-form-wrapper form button {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 767px) {
  .cta-section .cta-form-wrapper form button {
    position: static;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .cta-section .cta-form-wrapper form button {
    position: absolute;
    margin-top: 0;
  }
}

.contact-section {
  position: relative;
  background: #FCF8E8;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-wrapper {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .contact-section .contact-wrapper {
    margin-bottom: 50px;
  }
}

.contact-section .contact-wrapper .contact-form .single-form {
  margin-bottom: 30px;
}

.contact-section .contact-wrapper .contact-form .single-form .form-input {
  width: 100%;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 45px rgba(181, 181, 181, 0.16);
  padding: 18px 30px;
  line-height: 1;
  color: #6B6F92;
  border: 1px solid transparent;
  transition: all 0.3s ease-out 0s;
}

.contact-section .contact-wrapper .contact-form .single-form .form-input:focus {
  border-color: #F5B458;
}

.contact-section .contact-wrapper .contact-form .submit-btn .main-btn {
  padding: 18px 72px;
}

.contact-section .contact-img {
  position: absolute;
  width: 40%;
  right: 0;
  top: 0;
  height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-img {
    display: none;
  }
}

@media (max-width: 767px) {
  .contact-section .contact-img {
    display: none;
  }
}

.contact-section .contact-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  background: #313450;
  padding-top: 100px;
}

.footer .widget-wrapper .footer-widget {
  margin-bottom: 45px;
}

.footer .widget-wrapper .footer-widget .logo {
  margin-bottom: 35px;
}

.footer .widget-wrapper .footer-widget .logo a {
  display: inline-block;
}

.footer .widget-wrapper .footer-widget p.desc {
  font-size: 16px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 45px;
  padding-right: 60px;
}

.footer .widget-wrapper .footer-widget .socials {
  display: flex;
  align-items: center;
}

.footer .widget-wrapper .footer-widget .socials li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #6B6F92;
  color: #6B6F92;
  margin-right: 20px;
}

.footer .widget-wrapper .footer-widget .socials li a:hover {
  color: #fff;
  background: #F5B458;
  border-color: #F5B458;
}

.footer .widget-wrapper .footer-widget h3 {
  margin-bottom: 35px;
  color: #fff;
  margin-top: 10px;
}

.footer .widget-wrapper .footer-widget .links li a {
  font-size: 16px;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.8);
}

.footer .widget-wrapper .footer-widget .links li a:hover {
  color: #F5B458;
}

.footer .widget-wrapper .footer-widget .info li {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}

.footer .copy-right {
  padding: 30px 0;
  border-top: 2px solid rgba(107, 111, 146, 0.44);
}

.footer .copy-right p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-style: italic;
}

.footer .copy-right p a {
  color: rgba(255, 255, 255, 0.8);
}

.footer .copy-right p a:hover {
  color: #F5B458;
}

.package-first {
  background-color: pink;
}

.package-first h2 {
  text-align: center;
}

.first-package {
padding: 30px
}

.secondary-package {
  padding: 30px;
}

.first-package:hover {
  box-shadow: 0px 0px 54px #f2f4f9;
}

.secondary-package:hover {
  box-shadow: 0px 0px 54px #f2f4f9;
}