.contact-section {
  position: relative;
  background: #FCF8E8;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-wrapper {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .contact-section .contact-wrapper {
    margin-bottom: 50px;
  }
}

.contact-section .contact-wrapper .contact-form .single-form {
  margin-bottom: 30px;
}

.contact-section .contact-wrapper .contact-form .single-form .form-input {
  width: 100%;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 45px rgba(181, 181, 181, 0.16);
  padding: 18px 30px;
  line-height: 1;
  color: #6B6F92;
  border: 1px solid transparent;
  transition: all 0.3s ease-out 0s;
}

.contact-section .contact-wrapper .contact-form .single-form .form-input:focus {
  border-color: #F5B458;
}

.contact-section .contact-wrapper .contact-form .submit-btn .main-btn {
  padding: 18px 72px;
}

.contact-section .contact-img {
  position: absolute;
  width: 40%;
  right: 0;
  top: 0;
  height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-img {
    display: none;
  }
}

@media (max-width: 767px) {
  .contact-section .contact-img {
    display: none;
  }
}

.contact-section .contact-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
